<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static1/css/layout.css" >
    <link rel="stylesheet" href="/static1/css/topic.css" >
    <title>Homepage</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="users/Layout/header :: header">
</div>
<div class="container">
    <form method="post">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 mt-5 pt-5">
            <div class="row z-depth-3 border border-dark rounded">
                <div class="col-sm-4 bg-secondary rounded-left">
                    <div class="card-block text-center text-white">
                        <image class="fas fa-7x mt-5" th:src="${user.avatar}" alt="avatar of user"></image>
                        <h2 class="font-weight-bold mt-4" th:text="${user.name}"></h2>
                        <a th:href="@{/editinfo}">
                            <p></p>
                        <button type="button" class="btn btn-primary">Edit profile</button>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 bg-white rounded-right">
                    <h3 class="mt-3 text-center">Information</h3>
                    <hr class="badge-primary mt-0 w-25">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="font-weight-bold">Username:</p>
                            <h6 class="text-muted" th:text="${user.username}"></h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="font-weight-bold">Full Name:</p>
                            <h6 class="text-muted" th:text="${user.name}"></h6>
                        </div>
                    </div>
                    <hr class="bg-primary">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="font-weight-bold">Email:</p>
                            <h6 class="text-muted" th:text="${user.email}"></h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="font-weight-bold">BirthDay:</p>
                            <h6 class="text-muted" th:text="${user.dob}"></h6>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>

    </div>
    </form>
</div>
<div th:replace="users/Layout/footer::footer">
</div>
</body>
</html>