<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/header:: header">
    <meta charset="UTF-8">
</head>
<body>
<div class="workPlace">
    <div th:replace="admin/layout/header::header-title"></div>
    <div th:replace="admin/layout/nav::nav"></div>
    <div class="container1 my-2">
        <h1>TypeWord Management System</h1>
        <hr>
        <h2>[[${pageTitle}]]</h2>
        <form action="#" th:action="@{/admin/typeword/save}" th:object="${typeWord}"
              method="POST">
            <input type="hidden" name="id" th:field="*{typeID}"
                   placeholder="Enter the text english" class="form-control mb-4 col-4">
            <input type="text" name="sound" th:field="*{nameType}" required="required"
                   placeholder="Enter the text english" class="form-control mb-4 col-4">


            <button type="submit" class="btn btn-info col-2"> Save</button>
        </form>
        <hr>
        <a th:href="@{/admin/typeword}"> Back to TypeWord List</a>
    </div>
</div>
</div>
<footer th:replace="admin/layout/footer::footer">
</footer>
<style>
    .mt-2, .my-2 {
        margin-top: 6rem !important;
        margin-left: 1.8rem;
    }

    .mb-4, .my-4 {
        margin-bottom: 0.5rem !important;
    }
</style>
</body>
</html>